.navbar {
    align-items: center;
    display: flex;
    color: #000000;
    font-size: 4rem;
    gap: 24px;
    height: 96px;
    justify-content: center;
    text-decoration: none;
}

.navItem {
    color: #000000;
    text-decoration: none;
}

.stickmanHead {
    background-color: red;
}

.active {
    color: #a3eaf3;
}

@media screen and (max-width: 700px) {
    .navItem {
        font-size: 2rem;
    }

  }