.main {
    display: flex;
    gap: 4rem;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 48px auto;
    max-width: 1400px;
    padding: 0 48px 48px 48px;
}

.assignmentContainer {
    display: flex;
    height: fit-content;
    justify-content: center;
    position: relative;
}

.assignmentContent {
    color: #FFFFFF;
    display: grid;
    gap: 1rem;
    grid-template-areas: 'name name' 'repolink sitelink';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 55%;
    transform: translate(-50%, -50%);
}

.thumbnail {
    filter: drop-shadow(2px 2px 2px red) invert(45%);
    height: calc(300px * 1.25);
    width: calc(500px * 1.25);
}

.name, 
.repoLink,
.siteLink {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    margin: auto;
}

.name {
    color: rgba(0,212,255,1);
    font-size: 4rem;
    grid-area: name;
}

.contentWrapper {
    margin: auto;
}

.repoLink {
    grid-area: repolink;
}

.siteLink {
    grid-area: sitelink;
}

@media screen and (max-width: 800px) {
    .thumbnail {
        height: calc(300px / 1.4);
        width: calc(500px / 1.4);
    }

    .name {
        font-size: 2rem;
    }

    .repoLink, 
    .siteLink {
        font-size: 1.3rem;
    }
}

