.main {
    align-items: center;
    display: flex;
    gap: 24px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(26,26,40,1) 22%, rgba(0,212,255,1) 100%);
}

.myName {
    color: yellow;
    font-family: reey-regular;
    font-size: 5rem;
}

.buttonLink {
    z-index: 10;
}

.button {
    background-color: #1a4883;
    border: 0;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    text-decoration: none;
    transition-duration: .3s;
    
}

.stickman {
    animation: slide 3s forwards;
    animation-delay: 1s;
    left: 10%;
    position: absolute;
    top: 50px;
    
}

@keyframes slide {
    0% {
      left: 10%;
      
      top: 50px;
    }
    100% {
        left: 43%;
        top: 480px;
    }
  }



.intro {
    color: #030911;
    font-size: 3rem;
}