.stickman {
    height: 300px;
    display: block;
    position: relative;
    width: 300px;
  }
  
  .head {
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    height: 60px;
    left: 133px;
    position: absolute;
    top: 21px;
    transform-origin: center bottom;
    width: 50px;
    z-index: 1;
  }

  .lefteye,
  .righteye {
    background-color: #000000;
    border-radius: 50%;
    height: 1rem;
    top: 14px;
    width: 1rem;
  }

  .lefteye {
    left: 6px;
    position: relative;
  }

  .righteye {
    left: 24px;
    position: absolute;
  }
  
  @keyframes rock {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  
  .torso {
    border: 4px solid black;
    display: block;
    height: 100px;
    left: 156px;
    position: absolute;
    top: 80px;
    width: 6px;
  }
  
  .leftleg {
    border: 4px solid black;
    display: block;
    height: 100px;
    left: 155px;
    position: absolute;
    top: 175px;
    transform: rotate(12deg);
    transform-origin: top;
    width: 6px;
  }
  
  .rightleg {
    border: 4px solid black;
    display: block;
    left: 157px;
    height: 100px;
    position: absolute;
    top: 175px;
    transform: rotate(-12deg);
    transform-origin: top;
    width: 6px;
  }
  
  .leftarm {
    animation: wave 1s alternate infinite ease-in-out;
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 57px;
    position: absolute;
    top: 88px;
    transform-origin: 100%;
    width: 100px;
  }

  .lefthand,
  .righthand {
    background-color: #000000;
    border-radius: 50%;
    height: 2rem;
    position: relative;
    top: -10px;
    transform-origin: 100%;
    width: 2rem;
    z-index: 10;
  }

  .lefthand {
    left: -10px;
  }

  .righthand {
    left: 80px;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  @keyframes waveHand {
    0% {
      transform: rotate(-80deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  .rightarm {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 160px;
    position: absolute;
    top: 86px;
    transform-origin: 0%;
    transform: rotate(60deg);
    width: 100px;
  }

  @keyframes wave2 {
    0% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  
  .leftfoot {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 110px;
    position: absolute;
    top: 270px;
    transform: rotate(8deg);
    width: 30px;
  }
  
  .rightfoot {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 178px;
    position: absolute;
    top: 270px;
    transform: rotate(-8deg);
    width: 30px;
  }