.container {
    margin: auto;
    max-width: 1400px;
    overflow: hidden;
    padding: 48px;
}

.h1 {
    font-size: 4rem;
    text-align: center;
}

.mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
    max-width: 1400px;
}

.sectionAboutMe {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aboutMe {
    font-size: 3rem;
    text-align: center;
}

.experience {
    font-size: 2.5rem;
    line-height: 2;
}

.timeStudied {
    color: #a3eaf3;
}

.changedBG {
    background-color: red;
}

@media screen and (max-width: 1264px) {
    .mainContent {
        gap: 48px;
        
    }

    .experience {
        text-align: center;
    }
}

@media screen and (max-width: 730px) {
    .experience {
        font-size: 1.5rem;
        text-align: left;
    }
}