.h1 {
    font-size: 4rem;
    text-align: center;
}

.mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 48px;
}

.sectionAboutMe {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aboutMe {
    font-size: 3rem;
    text-align: center;
}

.experience {
    font-size: 2rem;
    
}

.timeStudied {
    font-weight: bold;
}