.stickman {
    display: block;
    height: 400px;
    left: 38%;
    position: relative;
    width: 300px;
}
  
.head {
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    height: calc(60px * 1.3);
    left: 131px;
    position: relative;
    top: 21px;
    transform-origin: center bottom;
    width: calc(50px * 1.3);
    z-index: 1;
}

.lefteye,
.righteye {
    background-color: #000000;
    border-radius: 50%;
    height: 1.4rem;
    top: 18px;
    width: 1.4rem;
}

.lefteye {
    left: 10px;
    position: relative;
}

.righteye {
    left: 29px;
    position: absolute;
}
  
  @keyframes rock {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  
  .torso {
    border: 4px solid black;
    display: block;
    height: 130px;
    left: 161px;
    position: absolute;
    top: 94px;
    width: 6px;
  }
  
  .leftleg {
    border: 4px solid black;
    display: block;
    height: 130px;
    left: 161px;
    position: absolute;
    top: 217px;
    transform: rotate(12deg);
    transform-origin: top;
    width: 6px;
  }
  
  .rightleg {
    border: 4px solid black;
    display: block;
    height: 130px;
    left: 161px;
    position: absolute;
    top: 217px;
    transform: rotate(-12deg);
    transform-origin: top;
    width: 6px;
  }
  
  .leftarm {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 33px;
    position: absolute;
    top: 116px;
    transform: rotate(-60deg);
    transform-origin: 100%;
    width: 130px;
  }

  .lefthand,
  .righthand {
    background-color: #000000;
    border-radius: 50%;
    height: 2rem;
    position: relative;
    top: -10px;
    transform-origin: 100%;
    width: 2rem;
    z-index: 10;
  }

  .lefthand {
    left: -10px;
  }

  .righthand {
    left: 112px;
  }
  
  @keyframes waveHand {
    0% {
      transform: rotate(-80deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }

  .rightarm {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 162px;
    position: absolute;
    top: 120px;
    transform-origin: 0%;
    transform: rotate(-50deg);
    width: 130px;
  }

  @keyframes wave2 {
    0% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
  
  .leftfoot {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 110px;
    position: absolute;
    top: 336px;
    transform: rotate(8deg);
    width: 30px;
  }
  
  .rightfoot {
    border: 4px solid black;
    display: block;
    height: 6px;
    left: 187px;
    position: absolute;
    top: 336px;
    transform: rotate(-8deg);
    width: 30px;
  }

  @media screen and (max-width: 530px) {
    .stickman {
      left: 18%;
      position: relative;
    }

  }